<h1>Ex2#loop</h1>
<% if @from.blank? %>
	<p>A is missing.</p>
<% end %>
<% if @to.blank? %>
	<p>B is missing.</p>
<% end %>
<% if not(@from.to_i.to_s == @from) && not(@from.blank?) %>
	<p> A is not an integer. </p>
<% end %>
<% if not(@to.to_i.to_s == @to) && not(@to.blank?) %>
	<p> B is not an integer. </p>
<% end %>
<% if not(@from.blank?) && not(@to.blank?) && @from.to_i.to_s == @from && @to.to_i.to_s == @to%>
	<p> from <%= @from.to_i %> to <%= @to.to_i %></p>
	<% a = @from.to_i %>
	<% b = @to.to_i %>
	<%for i in a..b do%>
		<%= i %>
	<% end %>
	<%# <%=	(i..j).to_a %>
<% end %>